/* Style général de la page */
body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 25px;
    line-height: 1.7;
    background-color: #ffffff;
    color: #000000;
    overflow-x: hidden;
}

/* ===== TITRES ===== */
h1 {
    font-size: 2.4em;
    color: #0b4414;
    text-align: justify;
}

h2 {
    font-size: 1.6em;
    color: #24771b;
    text-align: justify;
}

h3 {
    font-size: 0.5em;
    font-weight: normal;
    color: #000000;
    text-align: justify;
}


/* Sous-titres plus discrets */
.subtitle {
    font-size: 1.2em;
    color: #283d31;
    font-weight: bold;
    text-align: justify;
}

/* ===== TEXTES ===== */

/* Texte explicatif principal */
.text {
    margin: 10px 0 20px 0;
    text-align: justify;
}

ul.text li {
    margin-bottom: 8px;
}

/* Texte secondaire ou remarque */
.note {
    font-size: 0.95em;
    color: #393a39;
    background-color: #eef2ff;
    padding: 10px 15px;
    border-left: 4px solid #6366f1;
    margin: 15px 0;
    text-align: justify;
}

/* ===== IMAGES ===== */
img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 15px auto 5px auto;
    border-radius: 6px;
}

.figure-row {
    display: flex;
    gap: 20px;
    margin: 25px 0;
}

.figure-row figure {
    flex: 1;
    text-align: center;
}

.figure-row img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.figure-row figcaption {
    margin-top: 6px;
    font-size: 0.9em;
    color: #555;
    font-style: italic;
}


/* Légende d’image ou de carte */
.caption {
    font-size: 0.9em;
    color: #666;
    text-align: center;
    font-style: italic;
}

/* ===== SÉPARATEUR ===== */
.separator {
    border: none;                   /* on enlève la bordure par défaut */
    border-top: 2px dashed #0b4414; /* ligne pointillée */
    height: 0;                      /* hauteur nulle, la bordure sert de ligne */
    margin: 40px 0;
}

.image-intro-right {
    float: right;
    width: 300px;          /* taille de l’image */
    margin: 0 0 15px 20px; /* espace entre image et texte */
    border-radius: 8px;
}
.image-intro-left {
    float: left;
    width: 100px;          /* taille de l’image */
    margin: 0 0 15px 20px; /* espace entre image et texte */
    border-radius: 8px;
}

.clear {
    clear: both;
}

/* ===== MENU VERTICAL FIXE ===== */
.side-menu {
    position: fixed;
    top: 100px; /* distance depuis le haut */
    left: 20px; /* distance depuis la gauche */
    width: 180px;
    background-color: #0b4414;
    border-radius: 8px;
    padding: 15px;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    margin-bottom: 15px;
}

.side-menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    display: block;
    padding: 8px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.side-menu a:hover {
    background-color: #24771b;
    color: #ffffff;
}

/* SOUS-MENU (déroulant) */
.submenu {
    display: none;              /* masqué par défaut */
    padding-left: 15px;
    list-style: none;
    max-height: 200px;          /* hauteur max visible */
    overflow-y: auto;           /* active le scroll vertical si dépasse */
    overflow-x: hidden;         /* évite scroll horizontal */
}

/* Couleur différente pour sous-éléments */
.submenu a {
    background-color: rgb(8, 86, 42);
    color: #fff;
    font-weight: normal;
    padding: 6px 8px;
    border-radius: 5px;
    display: block;
    margin-bottom: 4px;
}

.submenu a:hover {
    background-color: rgb(8, 86, 42);
    color: #ffffff;
}

/* FLECHE ROTATIVE */
.arrow {
    transition: transform 0.3s;
}

.accordion.active .arrow {
    transform: rotate(180deg); /* flèche tourne vers le haut quand ouvert */
}
